body{
    background-color: rgba(206, 206, 206, 0.932);
    font-style: oblique;
    font-family: sans-serif;
    font-size: 20px;
    border: 100px;
    padding: 80px;
    margin: 10px;
}

.Datos{
    column-count: 2;
    column-gap: 100px;
    column-rule: 5px double #55585885;
}

h1{
    text-align: center;
    color: #131311d8;
    height: 130px;
    font-family: 'Calibri Light', cursive;
    font-weight: 400;
    font-size: 125px;
    margin: 10px 0px 30px 0px;
    background-color: #55585841 ;
}

#barra-colores-1{
    width: 1175px;
    height: 10px;
    background-image: linear-gradient(90deg,black,red,grey);
    margin: 2px 0px 30px 0px;
}

#barra-colores-2{
    width: 1175px;
    height: 10px;
    background-image: linear-gradient(90deg,darkviolet,black)
    ;
    margin: 15px 0px 15px 0px;
}


h3{
    text-decoration: underline black;
}

#idioma1{
    text-decoration: none;
}

#Desarrolladora-web{
    text-align: center;
    font-family: 'Calibri Light';
    font-size: 45px;
    font-weight: 200;
    color: #555858b7;
    border: 0;
    margin: 0;
}

#Contactar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #dbe2e2d8;
    font-style: oblique;
    font-family: sans-serif;
    font-size: 20px;
    border-color: #5a5d5ed8;
}

#telefono{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #080303;
}


#imagen-CV{
    border: solid #3f3939da;
    height: 300px;
    vertical-align: middle;
    margin: 0px 25px;
}

.Hard-Skills{
    column-count: 3;
    column-gap: 2px;
    padding-inline-start: 0;
}

.circular-progress-1,.circular-progress-2{
    width: 160px;
    height: 160px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.outer-1,.outer-2{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7)
}

.inner-1,.inner-2{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0,5px -0,5px 0px rgba(255,255,255,1),
                0,5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.2)
}

#number-2,#number-1{
    font-weight: 400;
    font-size: 18px;
    color: black;
    text-align: center;
}

#circle-1{
    fill: none;
    stroke: url(#GradientColor-1);
    stroke-width: 15px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;

    

    animation: anim1 2s linear forwards;
}

#circle-2{
    fill: none;
    stroke: url(#GradientColor-1);
    stroke-width: 15px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim2 2s linear forwards; 
}


svg{
    position: absolute;
    top: 0;
    left: 0;
}


@keyframes anim1{
    100%{
        stroke-dashoffset: 0;
    }
}

@keyframes anim2{
    100%{
        stroke-dashoffset: 0;
    }
}

